@{
	ViewData["Title"] = "Home Page";
}

@model List<Data.Item>;

<div class="list-group">
	@foreach (var item in Model)
	{
		<form class="list-group list-group-horizontal" asp-controller="Catalogue" asp-action="Update">
			<div class="form-group">
				<img id='img-upload' width="400" height="332" />
				<input type="file" id="imgInp" value="Upload image">
			</div>
			<div class="container list-group">
				<input type="text" asp-for="@item.Name" value="@item.Name" class="form-control form-group" />
				<textarea asp-for="@item.Description" value="@item.Description" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 278px;"></textarea>
				<div class="flex-row ml-md-auto d-none d-md-flex">
					<div class="list-group-horizontal">
						<input type="submit" value="Update" class="btn btn-dark flex-grow-2" />
						<a asp-controller="Catalogue" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger flex-grow-2">delete</a>
					</div>
				</div>
			</div>
		</form>
	}
</div>

@section Scripts {
	<script src="~/js/imgPreview.js"></script>
}