@{
	ViewData["Title"] = "Catalogue";
}

@model WebApi.Models.CatalogueViewModel;

<div class="list-group">
	@foreach (var item in Model.Items)
	{
		<div href="#" class="list-group-item-action list-group-item" style="padding: 2px">
			<div class="list-group list-group-horizontal" style="padding:2px;resize:none;width:760px;height:400px;">
				<img class="img-thumbnail" src="@item.ImgUrl" width="350" height="300" />
				<div class="list-group" style="margin-left: 5px; width: 40%">
					<h3>@item.Name</h3>
					<p>@item.Description</p>
					<div class="card-footer list-group list-group-horizontal" style="position:absolute;bottom:10px;width:400px;padding-right:5px">
						<h3>@item.Price₽</h3>
						<button type="button" class="btn btn-light btn-circle btn-md"
								onclick="addToOrder(@item.Id, '@item.ImgUrl', '@item.Name', @item.Price)" style="position:inherit;right:10px;">
							🛒
						</button>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<form asp-controller="Catalogue" asp-action="Checkout" method="post" class="card order-card">
	<input type="hidden" asp-for="@Model.UserId" />
	<div class="list-group list-group-horizontal">
		<input type="submit" class="btn btn-info btn-md" value="Checkout" />
		<h4>🛒</h4>
		<h4 name="fullPrice"></h4><h4>₽</h4>
	</div>
	<input hidden name="Order.UserId" value="1" />
	<div href="#" class="list-group-item-action list-group-item order-list" name="orderList"
		 style="padding: 2px;margin:5px;margin-left:0px;">
		<div hidden="hidden" class="list-group list-group-horizontal order-item" style="height:65px;">
			<img class="img-thumbnail" width="80" height="65" src="" />
			<h5 style="margin-top:5%;margin-right:5px"></h5>
			<div style="width:100%"></div>
			<input min="1" class="form-control count" type="number" value="1"
				   style="margin-top:6%;margin-right:5px;width:65px;float:right" />
			<input hidden class="item" />
			<input hidden name="price" />
			<button type="button" class="btn btn-danger btn-sm btn-delete" onclick="">🞩</button>
		</div>
	</div>
</form>