@{
	ViewData["Title"] = "Catalogue";
}

@model WebApi.Models.CatalogueViewModel;

<div class="list-group">
	@foreach (var item in Model.Items)
	{
		<div href="#" class="list-group-item-action list-group-item" style="padding: 2px">
			<div class="list-group list-group-horizontal" style="padding:2px;resize:none;width:760px;height:400px;">
				<img class="img-thumbnail" src="@item.ImgUrl" width="350" height="300" />
				<div class="list-group" style="margin-left: 5px; width: 40%">
					<h3>@item.Name</h3>
					<p>@item.Description</p>
					<button type="button" class="btn btn-light btn-circle btn-md" onclick="addToOrder(@item.Id, '@item.ImgUrl', '@item.Name')" style="
						 margin-top: 40%;
						margin-left: 110%;">
						🛒
					</button>
				</div>
			</div>
		</div>
	}
</div>

<form asp-controller="Order" asp-action="Create" method="post" class="card order-card">
	<input type="hidden" asp-for="@Model.UserId" />
	<div class="list-group list-group-horizontal">
		<input type="submit" class="btn btn-info btn-md" value="Checkout" />
		<h4>🛒</h4>
		<h4 name="itemsCount"></h4>
	</div>
	<div href="#" class="list-group-item-action list-group-item order-list" style="padding: 2px;margin:5px;margin-left:0px;">
		<div hidden="hidden" class="list-group list-group-horizontal order-item" style="height:65px;">
			<img class="img-thumbnail" width="80" height="65" src="" />
			<h5 style="margin-top:5%;margin-right:5px"></h5>
			<div style="width:100%"></div>
			<input min="1" class="form-control" type="number" name="count" value="1" style="margin-top:6%;margin-right:5px;width:65px;float:right" />
			<button type="button" class="btn btn-danger btn-sm btn-delete" onclick="">🞩</button>
		</div>
	</div>
</form>