@{
	ViewData["Title"] = "Home Page";
}

@model WebApi.Models.OrderViewModel;
<form asp-controller="Order" asp-action="Create" method="post">
	<div class="list-group">
		@for (int i = 0; i < Model.Items.Count; i++)
		{
			<input type="hidden" asp-for="@Model.Items[i].Id" />
			<div id="@Model.Items[i].Id" href="#" class="list-group-item-action list-group-item" style="padding: 2px">
				<div class="list-group list-group-horizontal" style="padding:2px;resize:none;width:760px;height:400px;">
					<img class="img-thumbnail" src="@Model.Items[i].ImgUrl" width="350" height="300" />
					<div class="list-group" style="margin-left: 5px; width: 40%">
						<h3>@Model.Items[i].Name</h3>
						<p>@Model.Items[i].Description</p>
						<div class="card-footer list-group list-group-horizontal" style="position:absolute;bottom:10px;width:400px;padding-right:5px">
							<h3>@Model.Items[i].Price₽</h3>
							<h3 style="margin-left:15px; margin-right:15px"> 🞩 </h3>
							<input min="1" class="form-control count" type="number" asp-for="@Model.Items[i].Count" style="width:70px" />
							<button type="button" class="btn btn-danger btn-circle btn-md"
									onclick="removeElement(@Model.Items[i].Id)" style="position:inherit;right:10px;">
								🞩
							</button>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
	<div class="card order-card" style="height:400px;max-height:400px;">
		<div class="list-group list-group-horizontal">
			<input type="submit" onclick="return alert('Your order is sent to server')" class="btn btn-success btn-md" value="Confirm" />
			<h4>🛒</h4>
			<h4 name="fullPrice">@Model.Items.Sum(item => item.Price * item.Count)</h4><h4>₽</h4>
		</div>
		<div class="form-group">
			<label for="Name">Name</label>
			<input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="Name" asp-for="@Model.User.Name">
			<small id="NameHelp" class="form-text text-muted">Enter your Name</small>
		</div>
		<div class="form-group">
			<label for="Phone">Phone</label>
			<input type="text" class="form-control" id="Phone" aria-describedby="PhoneHelp" placeholder="Phone" asp-for="@Model.User.Phone">
			<small id="PhoneHelp" class="form-text text-muted">Enter your Phone</small>
		</div>
		<div class="form-group">
			<label for="Email">Email</label>
			<input type="text" class="form-control" id="Email" aria-describedby="EmailHelp" placeholder="Email" asp-for="@Model.User.Email">
			<small id="EmailHelp" class="form-text text-muted">Enter your Email</small>
		</div>
	</div>
</form>